<div class="side-menu">
  <ul class="side-menu__lists">
    <li class="side-menu__lists__title">Main</li>
  </ul>
  <ul class="side-menu__lists">

    <li class="side-menu__lists__list{{#is basename 'dashboard'}} active{{/is}}">
       <a href="#">
         <svg class="svg-icon">
           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
       </svg>
     Dashboard</a>
   </li>

    <li class="side-menu__lists__list{{#is basename 'ui_kit'}} active{{/is}}">
      <a href="#">
        <svg class="svg-icon">
           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#paint"></use>
       </svg>UI Kit</a>
   </li>
      <li class="side-menu__lists__list{{#is basename 'typography'}} active{{/is}}">
        <a href="#"><svg class="svg-icon">
             <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#settings"></use>
         </svg> Typography</a> </li>


      <li class="side-menu__lists__list{{#is basename 'components'}} active{{/is}}">
        <a href="#"><svg class="svg-icon">
             <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#components"></use>
         </svg>Components</a> </li>

        <li class="side-menu__lists__list{{#is basename 'icons'}} active{{/is}}">
          <a href="#">
            <svg class="svg-icon">
               <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons"></use>
           </svg>Icons</a> </li>


        <li class="side-menu__lists__list{{#is basename 'forms'}} active{{/is}}">
          <a href="#">
          <svg class="svg-icon">
               <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#forms"></use>
           </svg>Forms</a> </li>

           <ul class="side-menu__lists">
             <li class="side-menu__lists__title">More</li>
           </ul>

           <li class="side-menu__lists__list{{#is basename 'tables'}} active{{/is}}">
             <a href="#"><svg class="svg-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tables"></use>
              </svg>Tables</a> </li>

              <li class="side-menu__lists__list{{#is basename 'charts'}} active{{/is}}">
                <a href="#"><svg class="svg-icon">
                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#charts"></use>
                 </svg>Charts</a> </li>
                 <li class="side-menu__lists__list{{#is basename 'maps'}} active{{/is}}">
                   <a href="#"><svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#maps"></use>
                    </svg>Maps</a> </li>
                    <li class="side-menu__lists__list{{#is basename 'mail'}} active{{/is}}">
                      <a href="#"><svg class="svg-icon">
                           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mail"></use>
                       </svg>Mail</a> </li>



                       <ul class="side-menu__list">
                         <li class="side-menu__lists__title">Extras</li>
                       </ul>

                       <li class="side-menu__lists__list{{#is basename 'pages'}} active{{/is}}">
                         <a href="#"><svg class="svg-icon">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pages"></use>
                          </svg>Pages</a> </li>

                          <li class="side-menu__lists__list{{#is basename 'extras'}} active{{/is}}">
                            <a href="#"><svg class="svg-icon">
                                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#extras"></use>
                             </svg>Extras</a> </li>
                             <li class="side-menu__lists__list{{#is basename 'multilevel'}} active{{/is}}">
                               <a href="#"><svg class="svg-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#multilevel"></use>
                                </svg>Multi Level</a> </li>

                                <li class="side-menu__lists__list"> <a href="#"></a> </li>
                                </ul>

</div>
