<div class="section-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
<h4>WELCOME!</h4>
      </div>
      <div class="col-sm-6 section-title__nav text-right">
      <span><a href="/dashboard.html">Title</a></span>  
<!-- <span>Title</span> -->
<a id="basename"></a>
<span id="basename"></span>
      </div>

      </div>
    </div>

  </div>
</div>
