<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="boxes">
                <div class="row">
                    <div class="col-4">
                        <div class="circle circle--border circle--success">
                            <!-- <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#visibility"></use>
                            </svg> -->
                        </div>
                    </div>
                    <div class="col-8 v-align">
                        <h5>64,570</h5>
                        <p>Today's visits</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="boxes">
                <div class="row">
                    <div class="col-4">
                        <div class="circle circle--border circle--primary">
                            <!-- <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#timeline"></use>
                            </svg> -->
                        </div>
                    </div>
                    <div class="col-8 v-align">
                        <h5>64,570</h5>
                        <p>Today's visits</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="boxes">
                <div class="row">
                    <div class="col-4">
                        <div class="circle circle--border circle--danger">
                            <!-- <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#trackChanges"></use>
                            </svg> -->
                        </div>
                    </div>
                    <div class="col-8 v-align">
                        <h5>64,570</h5>
                        <p>Today's visits</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="boxes">
                <div class="row">
                    <div class="col-4">
                        <div class="circle circle--border circle--secondary">
                            <!-- <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#favorite"></use>
                            </svg> -->
                        </div>
                    </div>
                    <div class="col-8 v-align">
                        <h5>64,570</h5>
                        <p>Today's visits</p>
                    </div>
                </div>
            </div><div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="boxes boxes--right">
                <div class="row">
                    <div class="col-4">
                        <div class="circle circle--border circle--success">
                            <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#visits"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="col-8 v-align">
                        <h5>64.570</h5>
                        <p>Today's visits</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="boxes boxes--right">
                <div class="row">
                    <div class="col-4">
                        <div class="circle circle--border circle--danger">
                            <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#revenue"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="col-8 v-align">
                        <h5>31.570</h5>
                        <p>Total Revenue</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="boxes boxes--right">
                <div class="row">
                    <div class="col-4">
                        <div class="circle circle--border circle--primary">
                            <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sales"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="col-8 v-align">
                        <h5>280</h5>
                        <p>Total Sales</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="boxes boxes--right">
                <div class="row">
                    <div class="col-4">
                        <div class="circle circle--border circle--secondary">
                            <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#conversion"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="col-8 v-align">
                        <h5>0.16%</h5>
                        <p>Conversion</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="boxes">
                <h6 class="boxes__title">Yearly sales report</h6>
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="boxes">
                <h6 class="boxes__title">Total revenue</h6>
                <canvas id="myChart1"></canvas>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="boxes">
                <h6 class="boxes__title">Total revenue</h6>
                <canvas id="myChart2"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8">
            <div class="boxes">
                <h6 class="boxes__title">LATEST PROJECTS</h6>
                <p class="boxes__subheading">Your awesome text goes here</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Project name</th>
                            <th scope="col">Start date</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Asing</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Minton Admin</td>
                            <td>01/02.2018</td>
                            <td>01/02.2019</td>
                            <td>Released</td>
                            <td>Kazkas</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Minton Admin</td>
                            <td>01/02.2018</td>
                            <td>01/02.2019</td>
                            <td>Released</td>
                            <td>Kazkas</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Minton Admin</td>
                            <td>01/02.2018</td>
                            <td>01/02.2019</td>
                            <td>Released</td>
                            <td>Kazkas</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Minton Admin</td>
                            <td>01/02.2018</td>
                            <td>01/02.2019</td>
                            <td>Released</td>
                            <td>Kazkas</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Minton Admin</td>
                            <td>01/02.2018</td>
                            <td>01/02.2019</td>
                            <td>Released</td>
                            <td>Kazkas</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="row">
                <div class="col-12">
                    <div class="boxes boxes--flex">
                        <!-- <img class="boxes__image" src="assets/images/ernestas.jpg" alt="user picture"> -->
                        <div class="boxes__user-info v-align">
                            <h6>User 1</h6>
                            <p>user1@gmail.com</p>
                            <p>Admin</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="boxes boxes--flex">
                        <!-- <img class="boxes__image" src="assets/images/ernestas.jpg" alt="user picture"> -->
                        <div class="boxes__user-info v-align">
                            <h6>User 2</h6>
                            <p>user2@gmail.com</p>
                            <p>User</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="boxes boxes--flex">
                        <!-- <img class="boxes__image" src="assets/images/ernestas.jpg" alt="user picture"> -->
                        <div class="boxes__user-info v-align">
                            <h6>User 3</h6>
                            <p>user3@gmail.com</p>
                            <p>Admin</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="boxes">
                <h6 class="boxes__title">Yearl sales report</h6>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="boxes">
                <h6 class="boxes__title">Total revenue</h6>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="boxes">
                <h6 class="boxes__title">Total revenue</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8">
            <div class="boxes">
                <h6 class="boxes__title">Latest projects</h6>
                <p class="boxes__subheading">Your awesome text goes here.</p>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="row">
                <div class="col-12">
                    <div class="boxes">
                        <!-- <img class="boxes__image img-fluid" src="assets/images/user.jpg" alt="user picture"> -->
                        <h6 class="boxes__title"></h6>
                        <p class="boxes__info"></p>
                        <p class="boxes__roles"></p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="boxes">
                        <!-- <img class="boxes__image" src="assets/images/user-1.jpeg" alt="user picture"> -->
                        <h6 class="boxes__title"></h6>
                        <p class="boxes__info"></p>
                        <p class="boxes__roles"></p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="boxes">
                        <!-- <img class="boxes__image" src="assets/images/user-1.jpeg" alt="user picture"> -->
                        <h6 class="boxes__title"></h6>
                        <p class="boxes__info"></p>
                        <p class="boxes__roles"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- {{#content "chartScript" mode="apend"}}
<script type="text/javascript" src="../node_modules/chart.js/src/chart.js">
{{/content}} -->
