<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/css/app.css">
    <title>Pirmas project</title>
</head>
<body class="bg-color">

    {{>navbar}}
    {{>sidenav}}

    <div class="section-container">
        {{>title}}
        {{ body }}
    </div>

    {{#is basename 'index'}}
    {{>footer}}
    {{/is}}
    <div class="svg-sprite-container">{{> 'sprite.symbol' }}</div>

    {{#is default.lang 'lt'}}
          <script type="text/javascript" src="../../chart.js/assets/dist/Chart.min.js"></script>
          {{else}}
          <script type="text/javascript" src="../node_modules/chart.js/dist/Chart.min.js"></script>
          {{/is}}
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/app.js"></script>
</body>
</html>
