.container{
 position: absolute;
 top: 50%;
 left: 50%;
 -webkit-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
}
.login {
  background: #fff;

  &__title{

  }

  &__form{
    &__item{
      position: relative;
      @include default-input();
      margin-bottom: 20px;

    }
  }
}
.button {
 color: solid red;
 text-decoration:none;
 padding: 5px 10px;
 border-radius: solid black 3px;
 font-family: 'Poiret One', cursive;
 font-size:2em;
}
