.container{
 position: absolute;
 top: 50%;
 left: 50%;
 -webkit-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
}
.login {
  background: #fff;

  &__title{

  }

  &__form{
    &__item{
      position: relative;
      @include default-input();
      margin-bottom: 20px;

    }
  }
  .wrap {
    margin:0 auto;

    .buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
   color: white;
   text-decoration:none;
  padding-left: 126px;
   border-radius:3px;
   font-family: 'Poiret One', cursive;
   font-size:2em;
  }
  .btn-green {
   @include button-bg(#2ecc71);
}
  }

}
