---
layout: login.hbs
---

<div class="container">
  <div class="row">
    <div class="col-4 offset-4">
<div class="login">
  <div class="login__title">

    <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#visits"></use>
    </svg>
    <h1>Minton</h1>
  </div>
  <div class="login__form">
    <form class="login-form" name="login-form" action="index.html" method="post">

<div class="login__form__item">
  <input type="email" name="email" required="required" value="">
  <label for="email">USERNAME</label>
</div>

<div class="login__form__item">
  <input type="passsword" name="passsword" required="required" value="">
  <label for="passsword">PASSWORD</label>
</div>
<div class="wrap">
<a href="#" class="buttons btn-green">Login</a
</div>


    </form>
  </div>
</div>
    </div>
  </div>
</div>
