<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-xl-5">
        <div class="boxes">
                <div class="row">
                <div class="col-5">

                    <div class="profile">
                      <div class="profile-imagine">
                        <img class="boxes__image" src="assets/images/user2.jpg" alt="user picture">
                        <h4>Mark McKnight</h4>
                        <p>@webdesigner</p>
                          </div>
                      <div class="wrap">
                            <a href="#" class="buttons btn-green">Login</a

                            <a href="#" class="buttons btn-green">Login</a
                              </div>
                            </div>

                            <div class="info">
                              <h6>Full name:</h6>
                              <p>Mark A. McKnight</p>
                                <h6>Mobile</h6>
                                <p>f(123) 123 1234</p>
                                  <h6>Email</h6>
                                  <p>coderthemes@gmail.com</p>
                                    <h6>Location</h6>
                                    <p>USA</p>
                            </div>

                            <svg class="svg-icon">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#language"></use>
                            </svg>
                            <svg class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
                          </svg>
                          <svg class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#language"></use>
                          </svg>

                    </div>
                </div>
                <div class="col-8 v-align">


                </div>
            </div>
        </div>
    </div>
      <div class="col-lg-6 col-xl-3">
          <div class="boxes boxes--right">
              <div class="row">
                  <div class="col-11">
                      <div class="aboutme">
                        <ul>
                          <li> <h5>ABOUT ME</h5></li>
                          <li> <h5>GALLERY</h5></li>
                            <li> <h5>SETTINGS</h5></li>

                        </ul>


                      </div>
                  </div>
                  <div class="col-8 v-align">



                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-6 col-xl-3">
          <div class="boxes boxes--right">
              <div class="row">
                  <div class="col-4">
                      <div class="skils">


                      </div>
                  </div>
                    </div>
                      </div>
                        </div>
                          </div>
                            </div>
