@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,10%);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}
