.side-menu {
      width: 200px;
  padding-top: 133px;
  position: fixed;
  top: &$nav-height;
  height: 100%;
  background: #fff;
  width: &$nav-left-width;
-webkit-box-shadow: $box-shadow;
box-shadow: $box-shadow;
overflow: scroll;
  &__lists {
    list-style: none;
    &__list {
      padding: 12px 20px;
      position: relative;
      a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        svg {
          height: 20px;
          width: 29px;
          margin-right: 8px;

        }
      }
      &::after {
        @include arrow();
      }
    }
&__title {
  padding: 12px 20px;
  font-size: 12px;
}
  }
}
